<app-ticket-list-view
[tickets]="tickets"
[total]=" totalItems" 
[pageSize]="pageSize"
[page]="page"
[sortBy]="sortBy"
[orderBy]="orderBy"
[flag]="flag"
[role]="role"
(sort)="sortBy=$event"
(order)="orderBy=$event"
(changeToPage)="changePage($event)"
(changeFlag)="changeFlag($event)"
(updateTable)="updateTable()"
(changeAction)="changeAction($event)"
(clearFilter)="removeFilter()"
(actionByFeedback)="addButtonByFeedback($event)">

</app-ticket-list-view>

<app-ticket-list-filter
[sortBy]="sortBy"
(filter_id)="filter_id=$event"
(filter_name)="filter_name=$event"
(filter_date)="filter_date=$event"
(filter_urgency)="filter_urgency=$event"
(filter_state)="filter_state=$event"
(orderBy)="orderBy=$event"
(updateTable)="updateTable()">

</app-ticket-list-filter>
