.box{
    position: absolute;
    top: 600px;
    left: 30px;
    background-color: white;
    border: 4px solid white;
    height: 60px;    
    width: 30%;
    border-radius: 30px; 
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    input{
        width: 450px;
        border-radius: 30px;
        height: 50px;
        border: none;
        outline: none;
    }

    fa-icon{
        font-size: 30px;
        color: rgb(72, 72, 91);     }
}

.box:focus-within{    
    border: 4px solid rgb(204, 233, 35);
 }
